.signup-page {
    position: relative; 
    background: linear-gradient(
      160deg,
      rgba(8, 51, 70, 1) 0%,
      rgba(29, 106, 140, 0.98) 43%,
      rgba(29, 106, 140, 0.92) 48%,
      rgba(29, 106, 140, 0.93) 53%,
      rgba(29, 106, 140, 0.95) 55%,
      rgba(8, 51, 70, 1) 100%
    );
  }
  
  .logo-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    z-index: 1; 
  }
  
  .logo-top-left {
    position: absolute;
    max-width: 150px;
    background: transparent;
    z-index: 2; 
  }
  
  .signup-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 38%;
    height: 100%;
    background-color: #083346;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: 0; 
  }
  
  .Auth-form-container {
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .Auth-form-title {
    color: white;
  }
  
  .link-primary {
    color: #007bff;
    cursor: pointer;
  }
  
  .image-container h1 {
    color: white;
    margin-top: 10px;
  }
  
  .image-text {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    z-index: 1; 
  }
  
  .image-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  

  