.signup-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  display: flex;
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
}

